.new-password-content {
  background-image: url('src/assets/img/newPassword.jpg');
  background-size: 100% 100%;
  background-position: center;
  .new {
    height: 100vh;
    padding-top: 30vh;

    .ant-card-bordered {
      border: 1px solid #743030;
      border-radius: 15px;
    }

    .ant-input-affix-wrapper {
      border-radius: 15px;
    }
    &-password {
      box-shadow: 1px 1px 10px 5px #717171;
      background-color: #1313135c;
      opacity: 0.9;
      &__theme-bg {
        background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
      }
      &__R {
        padding: 25px 50px 10px 50px;
        input {
          height: 40px;
          font-size: 16px;
        }
        p,
        h2 {
          text-align: center;
          color: #fefefe;
          font-family: 'Exo', sans-serif Roboto, Oxygen, Cantarell, 'Open Sans',
            'Helvetica Neue';
        }
        h2 {
          font-size: 30px;
          font-weight: 600;
          font-family: 'Exo';
        }
        p {
          padding-bottom: 18px;
          font-family: 'Exo';
          font-weight: 600;
        }
        &__btn {
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
            height: 45px;
            border-color: #6b0700;
            border-radius: 25px;
            span {
              font-size: 15px;
              font-family: Poppins;
            }
          }
          margin-bottom: 15px;
        }
      }
    }
  }
}
