.hidden-expandible {
  display: none;
}

.show-expandible {
  display: show;
}

.ByDatesTable {
  &Col {
    padding: {
      top: 18px;
      bottom: 18px;
    }
  }
  &Table {
    padding-bottom: 18px;
    table.tm {
      width: 180%;
    }
    .th-center {
      font-family: exo;
    }
    .th-700 {
      color: #ca3372;
    }
  }
  h3 {
    font: {
      family: exo;
      size: 30px;
      weight: 700;
    }
    color: #ca3372;
  }

  button {
    background: transparent;
    border: none;
  }
}
