@import "./../../../../../sass/utils/variables";
.ContentById {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  justify-content: space-around;
  height: 500px;

  .Rpt-header,
  .Rpt-body {
    display: flex;
    gap: 20px;
  }

  .Rpt-header {
    justify-content: flex-start;
    align-items: center;

    h1,
    p {
      font-family: $mainFontFamily;
      font-weight: 500;
    }

    h1 {
      color: #fefefe;
      font-size: 24px;
    }

    p {
      font-size: 20px;
      color: #ca3372;
    }
  }

  .Rpt-body {
    flex-direction: column;

    h2,
    ul li {
      font-family: $mainFontFamily;
    }

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #fefefe;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-around;

      li {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 15px;

        h3 {
          color: #fefefe;
        }
      }
    }
  }
}
