@import './../../../../../sass/utils/variables';

.ContentById {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4%;
  .Rpt-header,
  .Rpt-body {
    display: flex;
    gap: 18px;
  }
  .Rpt-header {
    align-items: center;
    flex-direction: column;
    h1,
    span {
      font: {
        family: $mainFontFamily;
        weight: 500;
        size: 20px;
      }
      text-transform: uppercase;
    }
    h1 {
      color: #fefefe;
    }
    span {
      color: $secondColor;
    }
  }
  .Rpt-body {
    flex-direction: column;

    h2,
    h3,
    ul li {
      font-family: $mainFontFamily;
      color: #fefefe;
    }
    h2 {
      padding-top: 6px;
      font: {
        size: 19px;
        weight: 500;
      }
      text-transform: uppercase;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-around;
      li {
        align-items: center;
        display: flex;
        gap: 10px;
        height: 100%;
        h3 span {
          color: $secondColor;
        }
      }
    }
  }
}
