.check {
  background-size: cover;
  background-image: url(./../../../assets/img/checkbg.jpg);
  background-repeat: no-repeat;
  &-content {
    padding-top: 31.5vh;
    padding-bottom: 31.5vh;
    &-card {
      box-shadow: 0 0 5px rgb(247, 241, 241);
      opacity: 0.85;
      padding: 0 5.2%;
      input {
        height: 40px;
        font-size: 18px;
      }
      p,
      h2 {
        text-align: center;
        color: #111;
        font-family: "exo", "Poppins";
      }
      h2 {
        font-weight: 700;
        font-size: 26px;
        padding-top: 15px;
      }
      p {
        padding-bottom: 20px;
        font-weight: 600;
      }
      &-btn {
        text-align: center;
        padding-bottom: 15px;
        button {
          box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
          height: 45px;
          border-color: #04a9f5;
          border-radius: 5px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.site-form-item-icon svg {
  height: 30px;
}

@media (max-width: 1366px) and (max-height: 766px) {
  .check {
    &-content {
      padding-top: 25.15vh;
      padding-bottom: 25.15vh;
    }
  }
}
