.check {
  background: {
    image: url(src/assets/img/checkbg.jpg);
    repeat: no-repeat;
    size: cover;
  }
  &-content {
    padding: {
      bottom: 31.5vh;
      top: 31.5vh;
    }
    &-card {
      box-shadow: 0 0 5px rgb(247, 241, 241);
      opacity: 0.85;
      padding: 0 5.2%;
      input {
        font-size: 18px;
        height: 40px;
      }
      p,
      h2 {
        color: #111;
        font-family: 'exo', 'Poppins';
        text-align: center;
      }
      h2 {
        font: {
          size: 26px;
          weight: 700;
        }
        padding-top: 15px;
      }
      p {
        font-weight: 600;
        padding-bottom: 20px;
      }
      &-btn {
        padding-bottom: 15px;
        text-align: center;
        button {
          border: {
            color: #04a9f5;
            radius: 5px;
          }
          box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
          height: 45px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.site-form-item-icon svg {
  height: 30px;
}

@media (max-width: 1366px) and (max-height: 766px) {
  .check {
    &-content {
      padding: {
        bottom: 25.15vh;
        top: 25.15vh;
      }
    }
  }
}
