.table {
  margin-right: 50px;
  margin-left: 50px;
  &__title {
    text-align: center;
    h2 {
      font-family: "Exo", serif;
      font-size: 35px;
      font-weight: 700;
      color:  #ca3372;
    }
  }
  &__body {
    padding-top: 20px;
  }
}