.wrapper {
  position: relative;
  height: 100vh;
  top: 0;
}

.main-panel {
  width: 100%;
  min-height: 100vh;
  border-top: 2px solid #97174d;
  background: linear-gradient(#1e1e2f, #1e1e24);
  transition: 0.5s;
  float: right;
}

.sidebar {
  position: fixed;
  width: 262px;
  height: calc(100vh - 90px);
  margin-top: 80px;
  margin-left: 20px;
  z-index: 1024;
  border-radius: 5px;
  background: linear-gradient(#97174d, #ca3372);
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  &::after {
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #97174d;
    top: -10px;
    left: 35px;
    transform: translate(-50%);
    .sidebar-wrapper {
      min-height: 100%;
      max-height: calc(100vh - 705px);
      z-index: 4;
    }
  }
}
/* Header */
nav {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  white-space: pre;
  padding: 10px 35px 0px 20px !important;
}

.navbar-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-bar button#boton-sidebar {
  opacity: 1;
  transition: 0.6s;
}

.navbar-bar svg,
.navbar-options svg {
  color: #fff;
  font-size: 20px;
}

.navbar-bar svg {
  margin-left: 20px;
}

.navbar-bar p {
  color: #fff;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px !important;
  text-transform: uppercase;
  margin-left: 20px;
  opacity: 1;
  transition: 0.6s;
}

nav {
  position: absolute;
}

.navbar-bar button {
  background: transparent;
  border: none;
  outline: none;
}

.navbar-bar p {
  position: relative;
  font-size: 13px;
}

.navbar-options {
  display: flex;
  align-items: center;
}

/* transisiones js */
.navbar-bar_fixed button {
  outline: none;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #a8a8a8;
  opacity: 0;
  transition: all 0.5s;
  z-index: 100;
}

.navbar-bar_fixed {
  display: none;
}

.navbar-bar_fixed.block {
  display: block !important;
  position: fixed;
  color: #a8a8a8;
  transition: all 0.5s;
}

.navbar-bar_fixed.align {
  left: 20px;
}

.navbar-bar.none button#boton-sidebar,
.navbar-bar.none p {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.navbar-bar_fixed.block button {
  opacity: 1 !important;
  transition: all 0.5s;
}

/* Menu Sidebar*/
.logo-rc {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.logo-rc::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1px;
  width: 90%;
  right: 15px;
  bottom: 0;
  background: #fff;
  z-index: 1;
}

.logo-rc img {
  width: 35px;
  margin-left: 22px;
}

.logo-rc span {
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  font-size: 13px;
  color: #fff;
  font-family: "Poppins";
  overflow: hidden;
  margin-left: 10px;
  transition: all 0.45s;
  font-weight: 500;
}

.nav ul {
  list-style: none;
  margin-top: 20px;
}

.nav ul li {
  padding: 20px;
  &:hover {
    background-color: rgb(184, 28, 93);
  }
}

.nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.nav ul li a span svg {
  color: #fff;
  font-size: 17px;
  padding-right: 3px;
  width: 35px;
}
/*texto*/
.nav ul li a span {
  width: 50px;
  display: block;
  transition: 0.22s !important;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}

.block {
  animation: mostrarBotonFixed 1s;
}

@keyframes mostrarBotonFixed {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Contenedor principal */
.content {
  padding: 77px 30px 30px 301px;
  transition: 0.5;
}

.main {
  padding: 80px 30px 30px 130px;
  transition: 0.5;
}

.navbar-bar button#boton-sidebar_left {
  display: none;
}

/* Animación al dar click en nuestro boton sidebar */
.toggle {
  width: 80px !important;
}

.toggle .logo-rc {
  padding: 10px 0px 15px 0px;
  &::after {
    width: 70%;
    left: 15px;
  }
  span {
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
  }
}

.toggle .nav ul li a span {
  opacity: 0;
  transform: translate3d(-25px, 0, 0);
  &.span-icon {
    opacity: 1;
    margin-left: 27px;
    svg {
      text-align: center;
      height: 28px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 260px !important;
    right: auto;
    left: 0;
    margin: 0;
    border-radius: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    padding: 0;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transform: translate3d(-260px, 0, 0);
  }
  .sidebar.toggle {
    transition: 0.5;
    z-index: 1000;
  }
  .sidebar-wrapper {
    transition-property: top, bottom, width;
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-timing-function: linear, linear;
  }
  .main-panel > .content {
    padding-left: 30px;
  }
  .navbar-bar_fixed button {
    display: none;
  }
  .navbar-bar button#boton-sidebar {
    display: none;
  }
  .navbar-bar button#boton-sidebar_left {
    display: block;
  }
  .nav-open .sidebar {
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transform: translateZ(0);
  }
  .nav-open .main-panel {
    right: 0;
    transform: translate3d(260px, 0, 0);
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .toggle .logo-rc span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .toggle .nav ul li a span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card {
  background: #27293d;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.grid-row {
  max-width: 100%;
}
