@use "./components/ByIdentification/ByIdentification.scss";
@use "./components/ByDates/ByDates.scss";

.error_sms_id {
  color: red;
  font-size: 18px;
  font-family: poppins;
  font-weight: 300;
}

.visible_data_payment {
  display: show;
}

.hidden_data_payment {
  display: none;
}
