@use "./components/ByIdentification/ByIdentification.scss";
@use "./components/ByDates/ByDates.scss";

.Pays {
  .ant-row {
    width: 100%;
    gap: 30px;
  }

  .ant-radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .ant-btn-round {
    width: 100px;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
  .error_sms_id {
    color: red;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 300;
  }

  .visible_data_payment {
    display: show;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hidden_data_payment {
    display: none;
  }

  .text-id,
  .text-dates {
    font-family: "Poppins";
    color: #fefefe;
  }
  .bdc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
