@use './../../sass/utils/variables';

.ant-modal-header {
  border-bottom: none !important;
  display: flex;
  justify-content: center;
  .ant-modal-title {
    color: #ca3372;
    font: {
      family: 'exo';
      size: 30px;
      weight: 700;
    }
  }
}

.ant-modal-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  .info-body {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    p {
      font: {
        family: 'Poppins';
        size: 18px;
        weight: 500;
      }
      padding-right: 10px;
      text: {
        decoration: none;
        transform: uppercase;
      }
    }
  }

  span.anticon.anticon-check-circle.modal-check-icon,
  span.anticon.anticon-warning.modal-check-icon,
  span.anticon.anticon-close-circle.modal-check-icon {
    font-size: 80px;
  }

  .ant-row {
    justify-content: center;
  }
}

.ant-modal-footer {
  border-top: none !important;
  display: flex;
  justify-content: center;
  .ant-btn > span {
    font-family: 'poppins';
  }
}

.debt {
  color: $mainColor;
}
