.content-dashboard {
  display: table;
  height: 89vh;
  width: 100%;
  &-bg {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    img {
      width: 55%;
      border-radius: 25px;
    }
  }
}

@media (max-width: 1366px) and (max-height: 766px) {
  .content-dashboard {
    height: 82vh;
    &-bg img {
      width: 100%;
      border-radius: 20px;
      filter: drop-shadow(2px 4px 16px black);
    }
  }
}
