.content-dashboard {
  display: table;
  height: 89vh;
  width: 100%;
  &-bg {
    width: 99.9%;
    height: 99.9%;
    background-image: url('./../../../assets/img/BannerDash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1366px) and (max-height: 766px) {
  .content-dashboard {
    height: 86vh;
  }
}