.content-dashboard {
  display: table;
  height: 90vh;
  width: 100%;
  padding-bottom: 20px;
  &-bg {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    img {
      width: 55%;
      border-radius: 25px;
    }
  }
}
