.fragmento {
  .body {
    background: {
      attachment: fixed;
      image: url(src/assets/img/bgLogin.jpg);
      repeat: no-repeat;
      size: 100% 100%;
    }
    bottom: 0px;
    filter: brightness(0.6);
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
    z-index: 1;
  }

  .content-login {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #900a0a;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
    position: absolute;
    right: 15%;
    top: 20%;
    width: 500px;
    z-index: 99;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      .name-app-hover a {
        color: #fff;
        float: left;
        font: {
          family: 'Exo', sans-serif;
          size: 35px;
          weight: 400;
        }
        span {
          color: #ee0b0e;
        }
      }
      .name-app-hover:hover {
        font-weight: 400;
        a {
          color: #ee0b0e;
          span {
            color: #fff;
          }
        }
      }
    }
  }

  .login {
    text-align: center;
    width: 350px;
    padding: 30px 0;
    input {
      height: 28px;
    }
    input[type='submit'] {
      margin-top: 10px;
    }
    input[type='submit'] {
      background: #9e0036;
      border-radius: 15px;
      border: 1px solid rgba(104, 91, 91, 0.808);
      color: #fefefe;
      cursor: pointer;
      font: {
        family: 'Exo', sans-serif;
        size: 18px;
        weight: 500;
      }
      height: 40px;
      padding: 6px;
      width: 250px;
      &:hover {
        opacity: 0.8;
        color: #fefefe;
      }
      &:active {
        opacity: 0.6;
      }
      &:focus {
        outline: none;
      }
    }
    .ant-input-affix-wrapper {
      border-radius: 15px;
    }
  }
}

#forgot {
  color: #ffffff;
  font: {
    size: 16px;
    weight: 500;
  }
  &:hover {
    color: #ee0b0e;
  }
}

div[role='alert'] {
  font-size: 14px;
  color: #ee0b0e;
}
