.fragmento {
  .body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    background-image: url(./../../../assets/img/bgLogin.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.6);
    z-index: 1;
  }

  .content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    box-shadow: 0px 0px 20px 5px #900a0a;
    border-radius: 10px;
    z-index: 99;
    height: 420px;
    position: absolute;
    top: 20%;
    right: 15%;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      .name-app-hover a {
        float: left;
        color: #fff;
        font-family: "Exo", sans-serif;
        font-size: 35px;
        font-weight: 400;
        span {
          color: #ee0b0e;
        }
      }
      .name-app-hover:hover {
        font-weight: 400;
        a {
          color: #ee0b0e;
          span {
            color: #fff;
          }
        }
      }
    }
  }

  .login {
    text-align: center;
    width: 350px;
    padding: 30px 0;
    input {
      height: 28px;
    }
    input[type="submit"] {
      margin-top: 10px;
    }
    input[type="submit"] {
      width: 250px;
      height: 40px;
      background: #9e0036;
      border: 1px solid rgba(104, 91, 91, 0.808);
      cursor: pointer;
      border-radius: 15px;
      color: #fefefe;
      font-family: "Exo", sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding: 6px;
      &:hover {
        opacity: 0.8;
        color: #fefefe;
      }
      &:active {
        opacity: 0.6;
      }
      &:focus {
        outline: none;
      }
    }

    .ant-input-affix-wrapper {
      border-radius: 15px;
    }
  }
}

#forgot {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  &:hover {
    color: #ee0b0e;
  }
}

div[role="alert"] {
  font-size: 18px;
  color: #ee0b0e;
}
