a.made-with-mk {
  background-color: rgba(16, 16, 16, 0.35);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  bottom: 40px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 50px;
  overflow: hidden;
  padding: 10px 12px;
  position: fixed;
  right: 40px;
  transition: 0.75s cubic-bezier(0.6, 0, 0.4, 1);
  white-space: nowrap;
  width: 50px;
  &:hover,
  &:active,
  &:focus {
    width: 218px;
    transition-duration: 0.75s;
    padding: 10px 30px;
    .made-with-text {
      opacity: 1;
    }
    .brand {
      left: 0;
    }
  }
  .made-with-text {
    float: left;
    left: 75px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 11px;
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    span {
      font-weight: 700;
    }
  }
}
