.bg-reset {
  background-image: url(./../../../assets/img/reset.jpg);
  .forgot {
    height: 100vh;
    padding-top: 25vh;
    .forgot-password {
      box-shadow: 0 0 5px #999;
      opacity: 0.91;
      &__R {
        padding: 25px 50px 10px 50px;
        input {
          height: 40px;
          font-size: 18px;
        }
        p,
        h2 {
          text-align: center;
          color: #111;
          font-family: Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
        h2 {
          font-weight: 500;
          font-size: 26px;
        }
        p {
          padding-bottom: 20px;
        }
        &__btn {
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
            height: 45px;
            border-color: #04a9f5;
            border-radius: 5px;
            span {
              font-size: 16px;
            }
          }
          margin-bottom: 15px;
        }
      }
    }
    .reset-password-footer {
      padding-top: 10px;
      text-align: center;
      color: #fff;
      font-family: "Exo", sans-serif;
      font-size: 28px;
      font-weight: 200;
      span {
        color: #5379fa !important;
      }
    }
  }
}

.ant-card-body {
  padding: 0;
}
